<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Ticcattoe!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><%= render @view_module, @view_template, assigns %></div>
        <div class="col-2"></div>
      </div>
    </div>
    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
