/* This file is for your main application css. */

// Bootstrap
@import "font-awesome";

@import "bootstrap";

body {
  height: 100%;
  background-image: url("/images/background.jpg");
  background-size: cover;
}

.sign {
  width: 70px;
  height: 70px;
}

.popuko {
  background-image: url("/images/popuko.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.pipimi {
  background-image: url("/images/pipimi.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}
